<!DOCTYPE html>
<html lang="en">
    
<head>
		<base href="/">
	<meta charset="UTF-8">

    <link rel='stylesheet' type='text/css' href='../pinecreekcasefiles/public/stylesheets/style.css'>
		<title>Pine Creek Case Files</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>